@import "variables.scss";
body{
    @include main_font;
    padding: 0;
    margin: 0;
}
a{
    text-decoration: none;
    color: $base-color;
    &:hover{
        color: $third-color;
    }
}
.navbar,.nav-links{
    @include flex_end();
}
.navbar{
    background-color:$primary-color ;
    height: 50px;
    padding: 10px 0 0 10px;
    .nav-links{
        width: 50%;
        justify-content: space-evenly;
        text-transform: uppercase;
    }
}
.container{
    padding: $basic-section-padding;
    width: 66%;
    margin: 0 auto;
    @include center;
}
form{
    @include center;
    label{
        width: 100%;
        padding: $basic-item-padding;
        @include center;
        justify-content: space-between;
        input{
            margin-left: 10px;
        }
    }
}
.info{
    @include center;
    &.error{
        background-color: $error;
    }
    &.success{
        background-color: $success;
    }
}
textarea{
    resize: none;
}