{% extends "base.html" %}
{%block title%} Create auction {%endblock%}
{%block style%}<link rel="stylesheet" href="{{url_for('static',filename='css/create_auction.css')}}"> {%endblock%}
{%block content%} 
<h1>Create auction</h1>
<form method="POST" enctype="multipart/form-data" class="item">
    <label>Image: <input type="file" name="img"></label>
    <label>Starting price(1 = 1kk): <input name="cw" type="number" placeholder="1"></label>
    <label>Instant buy price( 1  = 1kk): <input name="kt" type="number" placeholder="50"></label>
    <label>Choose category for your auction:
        <select id="category" name="category" onclick="choose_category(this)">
            <option value="item" selected>Item</option>
            <option value="character" >Character</option>
        </select>
    </label>

    <section class="item">
        <label>Item name: <input name="item" type="text" placeholder="Nazwa przedmiotu"></label>
        <label>Upgrade level +: <input name="upgrade" type="number" min="0" max="15"></label>
        <label>Weapon: <input type="checkbox" onclick="weapon(this);"></label>
        <label class="element hide">Element strenght %: <input name="element" type="number" min="0" max="20"></label>
        <label class="bonus">Bonus number: <input name = "bonus_number" type="number" value="0" min="0" max="7" oninput='check_number(this)'></label>
        <section class="bonus_names">
            <img class="decorator lu" src="{{url_for('static',filename='/images/corner_border.png')}}">
            <img class="decorator ru" src="{{url_for('static',filename='/images/corner_border.png')}}">
            <img class="decorator ld" src="{{url_for('static',filename='/images/corner_border.png')}}">
            <img class="decorator rd" src="{{url_for('static',filename='/images/corner_border.png')}}">
            <label class="bonus hide"><input class="bonus_name" name="bonus_name1" type="text" placeholder="Nazwa bonusu" > <input name="bonus1" type="text" placeholder="Wartość" ></label>
            <label class="bonus hide"><input class="bonus_name" name="bonus_name2" type="text" placeholder="Nazwa bonusu" > <input name="bonus2" type="text" placeholder="Wartość" ></label>
            <label class="bonus hide"><input class="bonus_name" name="bonus_name3" type="text" placeholder="Nazwa bonusu" > <input name="bonus3" type="text" placeholder="Wartość" ></label>
            <label class="bonus hide"><input class="bonus_name" name="bonus_name4" type="text" placeholder="Nazwa bonusu" > <input name="bonus4" type="text" placeholder="Wartość" ></label>
            <label class="bonus hide"><input class="bonus_name" name="bonus_name5" type="text" placeholder="Nazwa bonusu" > <input name="bonus5" type="text" placeholder="Wartość"></label>
            <label class="bonus hide"><input class="bonus_name" name="bonus_name6" type="text" placeholder="Nazwa bonusu" > <input name="bonus6" type="text" placeholder="Wartość"></label>
            <label class="bonus hide"><input class="bonus_name" name="bonus_name7" type="text" placeholder="Nazwa bonusu" > <input name="bonus7" type="text" placeholder="Wartość"></label>
        </section>
    </section>

    <div class="more">
        <img class="decorator lu" src="{{url_for('static',filename='/images/corner_border.png')}}">
        <img class="decorator ru" src="{{url_for('static',filename='/images/corner_border.png')}}">
        <img class="decorator ld" src="{{url_for('static',filename='/images/corner_border.png')}}">
        <img class="decorator rd" src="{{url_for('static',filename='/images/corner_border.png')}}">
    <label>More informations(other types of payments etc.): <textarea rows="6" cols="60" name="more" placeholder="Instead of won i can accept sbk or high level items."></textarea></label>
    </div>
    <button type="submit">Post item</button>
</form>

{%endblock%}
{%block script%}
<script src="{{url_for('static',filename='js/create_auction.js')}}"></script>
{%endblock%}