<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Witaj na stronie!</h1>
    <form name="login" method="POST" action="/login">
        <label>Login: <input name = "login" placeholder='login' type="text" value="{{user}}" required></label>
        <label>Hasło: <input name = "password" placeholder="Password..." type="password" required></label>
        <input type="submit">
    </form>
    {% if error %}
    <h2>{{error}}</h2>
    {% endif %}
</body>
</html>