<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form name="example" action="/calc_value" method="POST">
        <label>Wpisz liczbę a: <input name="a" type="number"></label><br><hr>
        <label>Wpisz liczbę a: <input name="b" type="number"></label><br><hr>
        <label>Co chcesz zrobić? <select name="sign">
            <option value="+">dodawanie</option>
            <option value="-">odejmowanie</option>
            <option value="*">mnożenie</option>
            <option value="/">dzielenie</option>
        </select></label>
        <input type="submit" value="SEND">
    </form>
    <h2>{{wynik}}</h2>
</body>
</html>